<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-file-text modal-icon"></i>
        <h4 class="modal-title">Ordenes de Compra</h4>
        <small class="font-bold">Agregue observaciónes o comentarios a las ordenes que esta a punto de generar.</small>
    </div>
    <div class="modal-body">
    <br>

    <div>
        <div><p><strong>Describa las Razones: </strong></p></div>
        <div><textarea type="test" class="form-control" maxlength="298" ng-model="datos.descripcion_rechazo"></textarea></div><br>
    </div>
   
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancelar()" title="Presione para cancelar los cambios">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="enviar()" title="Presione para guardar los cambios">Guardar & Imprimir</button>
    </div>
</div>
