<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="text-center m-t-lg">
                    <h1 class="ng-binding">
                        Bienvenido a Agiliza Educación
                    </h1>
                    <small class="ng-binding">
                        Plataforma de soporte educacional diseñada para su uso cómodo y amigable.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Hoy</span>
                <h5>UF</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">$26.067,69</h1>

                <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                <small>Se mantuvo</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Ayer</span>
                <h5>Dolar</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">$679,80</h1>

                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                <small>Subió</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Ayer</span>
                <h5>UTM</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">$45.724</h1>

                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                <small>Subió</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Ayer</span>
                <h5>IPC</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">112,75</h1>

                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                <small>Subió</small>
            </div>
        </div>
    </div>
</div>
</div>