<div class="wrapper wrapper-content animated fadeInRight"  ng-controller="AsignacionCursoCtrl as enlace">
    <div class="row"> 
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <div class="form-group">
                            </div>
                        <thead>
                            <tr>
                                <th width="60%">Nivel del Curso</th>
                                <th>Cantidad de Cursos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="curso in enlace.curso">
                                <td>{{ curso.descripcion_curso }}</td>
                                <td><input type="number" string-to-number class="form-control" ng-model="curso.cantidad_letras"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 col-sm-offset-9">
            <a ng-click="enlace.guardar()" class="btn btn-primary pull-right" ng-disabled="enlace.bloqueo_year" title="Presione para guardar los cambios.">Siguiente Paso</a>
        </div>
    </div>
</div>